// カラー
$colors: (
	base_white: #FFFFFF,
	assort_yellow: #FEB21F,
	accent_blue: #5cbde7,

	thin_yellow: #ffebbe,
	light_blue: #61c5cc,

	shadow_yellow: #E18C32,
	shadow_blue: #2798c0,

	txt_yellow: #EF7800,
);

// フォントサイズ
$font-size: (
	sp_xs   : 12px,
	sp_s   : 13px,
	sp_l   : 16px,
	sp_xl   : 18px,
	pc_xs: 12px,
	pc_s: 14px,
	pc_m: 16px,
	pc_l: 18px,
	pc_xl: 20px,
	pc_xxl: 24px,
	pc_xxxl: 32px,
);

// レタースペース
$letter-spacing: (
	sp_s: 0.025em,
	sp_l: 0.05em,
	pc_s: 0.05em,
	pc_l: 0.1em,
);

// ラインヘイト
$line-height: (
	sp_m: 1.5,
	sp_l: 1.75,
	pc_xs: 1.5,
	pc_s: 1.85,
	pc_m: 2,
	pc_l: 2.25,
);