.section {
	$root: &;
	padding: 0 0 10%;
	// 奇数番目に共通
	&:nth-child(odd) {
		background-color: color(assort_yellow);
		#{$root} {
			&BadgeTxt {
				span {
					color: color(base_white);
				}
			}
			&Ttl {
				color: color(base_white);
			}
			&Foot {
				box-shadow: 5px 4px color(shadow_yellow);
				a {
					&:before {
						background-color: rgba(#000, .8);
					}
					&:after {
						@include bd(left, $color: rgba(#000, .8), $height: 4px);
					}
				}
			}
		}
	}
	// 偶数番目に共通
	&:nth-child(even) {
		background-color: color(base_white);
		#{$root} {
			&Badge span {
				border-color: color(light_blue);
			}
			&Ttl {
				color: color(light_blue);
			}
			&Foot {
				background-color: color(accent_blue);
				box-shadow: 5px 4px color(shadow_blue);
				a {
					color: color(base_white);
					&:before {
						background-color: color(base_white);
					}
					&:after {
						@include bd(left, $color: color(base_white), $height: 4px);
					}
				}
			}
		}
	}
	// 全部に共通
	&Badge {
		width: 60%;
		padding: 10%;
		margin: 0 auto;
		span {
			font-size: fz_base(20);
			@include bd($height: 3px);
			padding: 20%;
			display: table;
			margin: 0 auto;
			border-radius: 50%;
			&::after {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				white-space: pre;
			}
		}
	}
	// お悩みのコンテンツ分、ボタンのテキスト生成
	@for $value from 1 through 6 {
		&BadgeTxt#{$value} {
			&::after {
				content: "お悩み \A 0#{$value}";
			}
		}
	}
	&Thumb {
		@include mq(sp) {
			width: 80%;
			margin: 0 auto 15px;
		}
	}
	&Ttl {
		@include mq(sp) {
			text-align: center;
			font-size: fz_base(28);
			font-weight: 400;
			line-height: 1.3;
			margin-bottom: 15px;
		}
		@include mq(nonSp) {
			font-size: fz_base(34);
		}
	}
	&Txt {
		@include mq(sp) {
			font-size: fz_base(15);
			margin-bottom: 20px;
		}
	}
	&Foot {
		display: block;
		width: 96%;
		max-width: 380px;
		font-weight: 500;
		border-radius: 100px;
		background-color: color(base_white);
		@include mq(sp) {
			font-size: fz_base(18);
		}
		a {
			display: block;
			text-align: left;
			padding: 4% 0 4% 8%;
			color: rgba(#000, .7);
			font-weight: 400;
			position: relative;
			@media only screen and (max-width: 320px) {
				font-size: fz_base(14);
				padding-left: 12%;
			}
			&:before {
				position: absolute;
				top: 50%;
				right: 10%;
				transform: translate(0, -50%);
				display: block;
				content: "";
				width: 12px;
				height: 2px;
				@media only screen and (max-width: 320px) {
					right: 13%;
				}
			}
			&:after {
				position: absolute;
				top: 50%;
				right: 7.5%;
				transform: translate(0, -50%);
				display: block;
				content: "";
				width: 0;
				height: 0;
				@include bd($color: transparent, $height: 4px);
				@media only screen and (max-width: 320px) {
					right: 10.5%;
				}
			}
		}
	}
}