@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP:300,400,500,700&subset=japanese");
.bgc_base_white {
  background-color: #FFFFFF;
}

.bgc_assort_yellow {
  background-color: #ffbd50;
}

.bgc_accent_blue {
  background-color: #5cbde7;
}

.bgc_thin_yellow {
  background-color: #ffebbe;
}

.bgc_light_blue {
  background-color: #61c5cc;
}

.bgc_shadow_yellow {
  background-color: #E18C32;
}

.bgc_shadow_blue {
  background-color: #2798c0;
}

.bgc_txt_yellow {
  background-color: #EF7800;
}

.base_white {
  color: #FFFFFF;
}

.assort_yellow {
  color: #ffbd50;
}

.accent_blue {
  color: #5cbde7;
}

.thin_yellow {
  color: #ffebbe;
}

.light_blue {
  color: #61c5cc;
}

.shadow_yellow {
  color: #E18C32;
}

.shadow_blue {
  color: #2798c0;
}

.txt_yellow {
  color: #EF7800;
}

html {
  font-family: 'Noto Sans JP', 'sans-serif';
  color: #333333;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.7;
}
@media only screen and (max-width: 750px) {
  html {
    letter-spacing: .05em;
  }
}

/*! sanitize.css v6.0.0 | CC0 License | github.com/csstools/sanitize.css */
/* Document
 * ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 4. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  word-break: break-word;
  /* 4 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/*
 * Remove the text shadow on text selections in Firefox 61- (opinionated).
 * 1. Restore the coloring undone by defining the text shadow
 *    in all browsers (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000;
  /* 1 */
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000;
  /* 1 */
  text-shadow: none;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

/**
 * Inherit styling in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Restore the focus styles unset by the previous rule in Firefox.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the inner border and padding in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Show the overflow in Edge and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in Edge and IE.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay on clickable elements in all browsers (opinionated).
 * 2. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled],
[disabled] {
  cursor: disabled;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

:root, html, body, main {
  background-color: #FFFFFF;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, dl, dd, p, button, menu {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
}

img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 750px) {
  .forPc {
    display: none;
  }
}

@media only screen and (min-width: 751px) {
  .forSp {
    display: none;
  }
}

@media only screen and (min-width: 751px) and (max-width: 995px) {
  body {
    width: 995px;
    margin: 0 auto;
  }
}

.help {
  text-align: center;
  padding: 10% 0;
}
.helpMark {
  width: 70%;
  margin-left: 7.5%;
}
.helpTtl {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: .075em;
  margin-bottom: 7%;
}
.helpItem {
  padding: 15% 0;
  position: relative;
}
.helpItem:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  content: "";
  background: linear-gradient(to right, #61c5cc 8px, transparent 8px);
  background-size: 13px 4px;
}
.helpItem:last-child:after {
  background: none;
}
.helpHead {
  margin: 0 auto;
}
.helpHead.icon {
  width: 30%;
  margin-bottom: 5%;
}
.helpHead.thumb {
  width: 80%;
  margin-bottom: 8%;
}
.helpBody, .helpFoot {
  width: 85%;
  margin: 0 auto;
}
.helpAttention {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1%;
}
.helpTxt {
  font-size: 1.5rem;
}
.helpFoot {
  margin-top: 13%;
}
.helpFoot .helpTxt {
  margin-bottom: 4%;
}
.helpBtn {
  display: block;
  width: 96%;
  max-width: 380px;
  font-weight: 500;
  border-radius: 100px;
  -webkit-box-shadow: 5px 4px #E18C32;
          box-shadow: 5px 4px #E18C32;
}
@media only screen and (max-width: 750px) {
  .helpBtn {
    font-size: 1.8rem;
  }
}
.helpBtn a {
  display: block;
  text-align: center;
  padding: 4% 0 4% 8%;
  color: #FFFFFF;
  font-weight: 400;
  position: relative;
}
@media only screen and (max-width: 320px) {
  .helpBtn a {
    font-size: 1.4rem;
    padding-left: 12%;
  }
}

.topic {
  padding-top: 10%;
}
@media only screen and (max-width: 750px) {
  .topic {
    text-align: center;
  }
}
.topicList {
  position: relative;
  width: 90%;
  margin: 20% auto 0;
}
.topicList:before {
  position: absolute;
  content: "";
  padding: 25%;
  left: 0;
  background: transparent url("../images/oshirase_ttl.svg") left top no-repeat;
}
@media only screen and (max-width: 750px) {
  .topicList:before {
    top: -7.5%;
  }
}
@media only screen and (min-width: 751px) {
  .topicItem {
    overflow: hidden;
  }
  .topicItem:first-child {
    width: 58%;
    float: left;
  }
  .topicItem:nth-child(2) {
    width: 48%;
    float: right;
  }
}
@media only screen and (max-width: 750px) {
  .topicItem {
    position: relative;
    padding-bottom: 13%;
  }
  .topicItem:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: linear-gradient(to right, #FFFFFF 6px, transparent 6px);
    background-size: 13px 2px;
  }
  .topicItem:nth-child(2) {
    padding-bottom: 0;
  }
  .topicItem:nth-child(2):after {
    background: none;
  }
  .topicItem:nth-child(2) .topicHead {
    margin-top: 20%;
  }
  .topicItem:nth-child(2) .topicThumb {
    width: 75%;
    margin: 0 auto;
  }
  .topicItem:nth-child(2) .topicTxt {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 750px) {
  .topicHead {
    margin: 0 auto 5%;
  }
}
.topicTtl {
  width: 85%;
  margin: 0 auto 5%;
  font-size: 3rem;
  letter-spacing: .1em;
  font-weight: 500;
  line-height: 1.3;
}
.topicTxt {
  margin-bottom: 8%;
  font-size: 1.6rem;
}

.header {
  padding-top: 20px;
}
.headerLogo {
  width: 20%;
  max-width: 100px;
  margin: 0 auto 15px;
}
.headerMain {
  width: 80%;
  margin: 0 auto 65%;
  text-align: center;
}
.headerTtl {
  margin-bottom: 15px;
}
.headerTxt {
  line-height: 1.5;
  font-size: 1.4rem;
}
.headerMenu {
  position: relative;
  padding: 8% 0 10%;
}
.headerMenu::after {
  content: "";
  background: url(../images/sp/ttl_img_sp.png) no-repeat center;
  background-size: contain;
  width: 0;
  height: 0;
  padding: 30%;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.headerMenuTtl {
  font-size: 2.6rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
.headerList {
  overflow: hidden;
  padding-bottom: 3px;
}
.headerBtn {
  display: inline-block;
  width: 47%;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 3px 3px;
          box-shadow: 3px 3px;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  border: #000 1px solid;
}
@media only screen and (max-width: 320px) {
  .headerBtn {
    font-size: 1.5rem;
  }
}
.headerBtn:nth-child(odd) {
  margin-right: 4%;
}
.headerBtn:nth-child(even) {
  margin-right: 0;
}
.headerBtn:nth-last-child(2), .headerBtn:last-child {
  margin-bottom: 0;
}
.headerBtn::before {
  display: block;
  content: "";
  background-color: #ffebbe;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
}
.headerBtn::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: transparent 5px solid;
  border-top: #000 9px solid;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.headerBtnTxt {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.4;
}
.headerTrriger {
  display: block;
  padding: 10% 8%;
}

.section {
  padding: 0 0 10%;
}
.section:nth-child(odd) {
  background-color: #ffbd50;
}
.section:nth-child(odd) .sectionBadgeTxt span {
  color: #FFFFFF;
}
.section:nth-child(odd) .sectionTtl {
  color: #FFFFFF;
}
.section:nth-child(odd) .sectionFoot {
  -webkit-box-shadow: 5px 4px #E18C32;
          box-shadow: 5px 4px #E18C32;
}
.section:nth-child(odd) .sectionFoot a:before {
  background-color: rgba(0, 0, 0, 0.8);
}
.section:nth-child(odd) .sectionFoot a:after {
  border-left: rgba(0, 0, 0, 0.8) 4px solid;
}
.section:nth-child(even) {
  background-color: #FFFFFF;
}
.section:nth-child(even) .sectionBadge span {
  border-color: #61c5cc;
}
.section:nth-child(even) .sectionTtl {
  color: #61c5cc;
}
.section:nth-child(even) .sectionFoot {
  background-color: #5cbde7;
  -webkit-box-shadow: 5px 4px #2798c0;
          box-shadow: 5px 4px #2798c0;
}
.section:nth-child(even) .sectionFoot a {
  color: #FFFFFF;
}
.section:nth-child(even) .sectionFoot a:before {
  background-color: #FFFFFF;
}
.section:nth-child(even) .sectionFoot a:after {
  border-left: #FFFFFF 4px solid;
}
.sectionBadge {
  width: 60%;
  padding: 10%;
  margin: 0 auto;
}
.sectionBadge span {
  font-size: 2rem;
  border: white 3px solid;
  padding: 20%;
  display: table;
  margin: 0 auto;
  border-radius: 50%;
}
.sectionBadge span::after {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  white-space: pre;
}
.sectionBadgeTxt1::after {
  content: "お悩み \a 01";
}
.sectionBadgeTxt2::after {
  content: "お悩み \a 02";
}
.sectionBadgeTxt3::after {
  content: "お悩み \a 03";
}
.sectionBadgeTxt4::after {
  content: "お悩み \a 04";
}
.sectionBadgeTxt5::after {
  content: "お悩み \a 05";
}
.sectionBadgeTxt6::after {
  content: "お悩み \a 06";
}
@media only screen and (max-width: 750px) {
  .sectionThumb {
    width: 80%;
    margin: 0 auto 15px;
  }
}
@media only screen and (max-width: 750px) {
  .sectionTtl {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 751px) {
  .sectionTtl {
    font-size: 3.4rem;
  }
}
@media only screen and (max-width: 750px) {
  .sectionTxt {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}
.sectionFoot {
  display: block;
  width: 96%;
  max-width: 380px;
  font-weight: 500;
  border-radius: 100px;
  background-color: #FFFFFF;
}
@media only screen and (max-width: 750px) {
  .sectionFoot {
    font-size: 1.8rem;
  }
}
.sectionFoot a {
  display: block;
  text-align: left;
  padding: 4% 0 4% 8%;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  position: relative;
}
@media only screen and (max-width: 320px) {
  .sectionFoot a {
    font-size: 1.4rem;
    padding-left: 12%;
  }
}
.sectionFoot a:before {
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: block;
  content: "";
  width: 12px;
  height: 2px;
}
@media only screen and (max-width: 320px) {
  .sectionFoot a:before {
    right: 13%;
  }
}
.sectionFoot a:after {
  position: absolute;
  top: 50%;
  right: 7.5%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: transparent 4px solid;
}
@media only screen and (max-width: 320px) {
  .sectionFoot a:after {
    right: 10.5%;
  }
}

.l-inner {
  width: 88%;
  max-width: 995px;
  margin: 0 auto;
}

.boxCol2 {
  width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 750px) {
  .boxCol2Inner {
    margin-bottom: 13%;
  }
}
.boxCol2Inner:last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */