.help {
	$root: &;
	text-align: center;
	padding: 10% 0;
	&Mark {
		width: 70%;
		margin-left: 7.5%;
	}
	&Ttl {
		font-size: fz_base(25);
		font-weight: 400;
		letter-spacing: .075em;
		margin-bottom: 7%;
	}
	&Item {
		padding: 15% 0;
		position: relative;
		&:after {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 4px;
			content: "";
			background: linear-gradient(to right, color(light_blue) 8px, transparent 8px);
		    background-size: 13px 4px;
		}
		&:last-child {
			&:after {
				background: none;
			}
		}
	}
	&Head {
		margin: 0 auto;
		&.icon {
			width: 30%;
			margin-bottom: 5%;
		}
		&.thumb {
			width: 80%;
			margin-bottom: 8%;
		}
	}
	&Body {
		width: 85%;
		margin: 0 auto;
	}
	&Attention {
		font-size: fz_base(25);
		font-weight: 500;
		margin-bottom: 1%;
	}
	&Txt {
		font-size: fz_base(15);
	}
	&Foot {
		@extend .helpBody;
		margin-top: 13%;
		#{$root}Txt {
			margin-bottom: 4%;
		}
	}
	&Btn {
		display: block;
		width: 96%;
		max-width: 380px;
		font-weight: 500;
		border-radius: 100px;
		box-shadow: 5px 4px color(shadow_yellow);
		@include mq(sp) {
			font-size: fz_base(18);
		}
		a {
			display: block;
			text-align: center;
			padding: 4% 0 4% 8%;
			color: color(base_white);
			font-weight: 400;
			position: relative;
			@media only screen and (max-width: 320px) {
				font-size: fz_base(14);
				padding-left: 12%;
			}
		}
	}
}